.profile__info {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  /*
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  */
  flex-grow: 1;
  flex-shrink: 1;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    margin-top: 25px;
    margin-left: 0;
    justify-content: center;
  }
}
