.profile__info {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin-top: 22px;
    margin-left: 0;
  }
}
