.elements__icon-like {
  background: url(../../../images/like.svg);
  background-size: cover;
  width: 22px;
  height: 19px;
  margin-right: 15px;
  transition: opacity .2s linear;
  cursor: pointer;
}

.elements__icon-like:hover {
  opacity: .5;
}
